.monsterContainer {
  display: flex;
  justify-content: space-around;
  height: 35vh;
}

.monster {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__health {
    width: 100%;
    margin: 10px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    figcaption {
      color: black;
      position: absolute;
      z-index: 10;
    }
    &--healthBar {
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }
  &__information {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
}

.monsterSelected {
  box-shadow: 5px 5px 10px black;
}
