.player {
  display: flex;
  flex-direction: column;
}

.healthBar {
  width: 400px;
}
.deck {
  width: 100vw;
  margin: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 3px;

  &__card {
    cursor: pointer;
  }
}
